extends layout

block content
  form(name=registerHours, method='POST', action='/register')
      input(name='id', type="hidden", value=id)
      input(name='startDate', type='hidden', value=startDate)
      input(name='startTime', type='hidden', value=startTime)
      input(name='duration', type='hidden', value=duration)
      input(name='lunch', type='hidden', value=lunch)
      input(name='userId', type='hidden', value=userId)

      if(id != null )
        h2 #{duration} hours and counting
        button#startStop Stop working
      else
        h2 You are not working
        button#startStop Start working



