extends layout

block content
  h1 Workhours
  p Look at those hours stack up!

  form(name=registerHours, method='POST', action='/register')
    div
      label Start date
      input(name='startDate', type='date', value=startDate)
      label Start time
      input(name='startTime', type='time', value=startTime)
    div
      label Hours
      input(name='hours', type='number', value=hours)
      label Minutes
      input(name='minutes', type='number', value=minutes)
    div
      label Lunch
      input(name='lunch', type='number', value=lunch)
    div
      button submit
