extends layout

block content
  form(name=registerHours, method='POST', action='/register')
      input(name='id', type="hidden", value=id)
      input(name='startDate', type='hidden', value=startDate)
      input(name='startTime', type='hidden', value=startTime)
      input(name='duration', type='hidden', value=duration)

      if(id != null )
        h2 You have worked #{duration} hours
        button#startStop Stop working
      else
        h2 You are not currently working
        button#startStop Start working



