extends layout

block content
  p Balance: #{balance}
  each week, key in weeks
    h2 Week #{key}
    table#workList
      tr.borderBottom
        th.left Start
        th.right Hours
        th 
      - var sumDuration = 0;
      - var sumLunch = 0;
      each work in week
        - sumDuration = sumDuration + work.duration;
        - sumLunch = sumLunch + work.lunch;
        tr
          td.left= work.formattedStart
          td.right= work.duration - work.lunch
          td
            a(href='/work/' + work.id) E
          td
            a(href='/delete/' + work.id) X
      tr.borderTop
        td.bold Sum
        td.right.bold= sumDuration - sumLunch
        td 
        td
