extends layout

block content
  if(startDate != null )
    h2 Update registration
  else
    h2 New registration


  form(id="registerHours", name=registerHours, method='POST', action='/register')
    div
      input(name='id', type="hidden", value=id)
      input(name='userid', type="hidden", value=userid)
      label(for='startDate') Start date
      input(name='startDate', id='startDate', type='date', value=startDate, placeholder="Start date")
      label(for='startTime') Start time
      input(name='startTime', id='startTime', type='time', value=startTime)
    div
      label(for='duration') Hours
      input(name='duration', id='duration', type='number', step='0.25', value=duration)
      label(for='lunch') Lunch
      input(name='lunch', id='lunch', type='number', step='0.25', value=lunch)
    div
      if(startDate != null)
        button Update
      else
        button Add
